[Unit]
Description=GrowMate V2 Agent
Documentation=https://github.com/FarelRA/rpi-growmate-pods
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/growmate
ExecStartPre=/usr/bin/tailscale status
ExecStart=/home/pi/growmate/start.sh

Restart=always
RestartSec=10

StandardOutput=journal
StandardError=journal
SyslogIdentifier=growmate

Environment=DEVICE_API_KEY=<set-during-provisioning>
Environment=DEVICE_ID=<set-during-provisioning>

[Install]
WantedBy=multi-user.target
