[Unit]
Description=GrowMate V2 Agent
Documentation=https://github.com/FarelRA/rpi-growmate-pods
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/grow/growmate
ExecStart=/home/grow/growmate/scripts/start.sh

Restart=always
RestartSec=10

StandardOutput=journal
StandardError=journal
SyslogIdentifier=growmate

Environment=DEVICE_API_KEY=__DEVICE_API_KEY__
Environment=DEVICE_ID=__DEVICE_ID__

[Install]
WantedBy=multi-user.target
